/// Utility Layout

/// Display
@include ae-helpers(display, $ae-utils-display, $u-display);

/// Overflow
@include ae-helpers(overflow, $ae-utils-overflow, $u-overflow);

/// Float
@include ae-helpers(float, $ae-utils-float, $u-float);

/// Max Width
@include ae-helpers(max-width, $ae-utils-max-width, $u-max-width);

/// Position
@include ae-helpers(position, $ae-utils-position, $u-position);

/// Vsibility
@include ae-helpers(visibility, $ae-utils-visibility, $u-visibility);

/// Vertical align
@include ae-helpers(vertical-align, $ae-utils-vertical-align, $u-vertical-align);

/// Text Align
@include ae-helpers(text-align, $ae-utils-text-align, $u-text-align);

/// Clearfix
.#{$ae}-#{$u}-clearfix {
  &:after,
  &:before {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.#{$ae}-#{$u}-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.#{$ae}-#{$u}-italic {
  font-style: italic;
}

.#{$ae}-#{$u}-uppercase {
  text-transform: uppercase;
}





