/// Utility Layout

/// Display
@include ae-helpers(display, $ae-utils-display, $u-display);
@include ae-helpers(display, $ae-utils-display, $u-display, $responsive: true, $between: true);

/// Overflow
@include ae-helpers(overflow, $ae-utils-overflow, $u-overflow);

/// Float
@include ae-helpers(float, $ae-utils-float, $u-float);

/// Max Width
@include ae-helpers(max-width, $ae-utils-max-width, $u-max-width);

/// Clearfix
.#{$u}-clearfix {
  &:after,
  &:before {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}
