/// Utility Type

/// Text Align
@include ae-helpers(text-align, $ae-utils-text-align, $u-text-align, $responsive: true);

.#{$u}-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.#{$u}-italic {
  font-style: italic;
}

.#{$u}-uppercase {
  text-transform: uppercase;
}





