/// Utility Type

/// Text Align
@include ae-helpers(text-align, $ae-utils-text-align, $u-text-align, $responsive: true);

@include ae-helpers(line-height, $ae-utils-line-heights, $u-line-height);

.#{$u}-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.#{$u}-italic {
  font-style: italic;
}

.#{$u}-uppercase {
  text-transform: uppercase;
}

.#{$u}-lowercase {
  text-transform: lowercase;
}

.#{$u}-underline {
  text-decoration: underline;
}




