// aurora-utils :: Functions

@mixin ae-helpers($helper, $values, $prefix, $important: $ae-important) {
  $px: if($prefix != '', '-#{$prefix}-', '-');
  
  @each $value in $values {
    $sel-val: if(type-of($value) == list, nth($value, 2), $value);
    $attr-val: if(type-of($value) == list, nth($value, 1), $value);
    
    .#{$ae}-#{$u}#{$px}#{$sel-val} {
      #{$helper}: if($important, $attr-val !important, $attr-val);
    }
  }
}
