// aurora-utils :: Settings
@import '../../aurora-shared/src/settings';

/// Prefix for utilities (i.e 'u' ->' ae-u-*')
$u: 'au' !default;


/// Important rule for utilities
$ae-important: false !default;

/// Apply each util per breakpoint
$ae-utils-responsive: false !default;


/// Display 
$u-display: '' !default;
$ae-utils-display: inline inline-block block table table-cell flex inline-flex !default;

/// Overflow
$u-overflow: 'ov' !default;
$ae-utils-overflow: hidden auto scroll !default;

/// Float
$u-float: 'fl' !default;
$ae-utils-float: left right none !default;

/// Max Width
$u-max-width: 'mw' !default;
$ae-utils-max-width: (100%, full) none !default;

/// Text Align
$u-text-align: 'ta' !default;
$ae-utils-text-align: left right center justify !default;

/// Position
$u-position: 'pos' !default;
$ae-utils-position: absolute relative fixed static !default;

/// Visibility
$u-visibility: 'v' !default;
$ae-utils-visibility: hidden visible !default;

/// Verical align
$u-vertical-align: 'va' !default;
$ae-utils-vertical-align: baseline top middle bottom !default;

/// Margin
$u-margin: 'm' !default;
$ae-utils-margin: auto (.5rem, 1) (1rem, 2) (2rem, 3) (4rem, 4) !default;
