// aurora-utils :: Settings
@import '../../aurora-shared/src/settings';

/// Prefix for utilities (i.e 'u' ->' ae-u-*')
$u: 'au' !default;


/// Important rule for utilities
$ae-important: false !default;

/// Apply each util per breakpoint
$ae-utils-responsive: true !default;


/// Display 
$u-display: '' !default;
$ae-utils-display: inline inline-block block table table-cell flex inline-flex none !default;

/// Overflow
$u-overflow: 'ov' !default;
$ae-utils-overflow: hidden auto scroll !default;

/// Float
$u-float: 'fl' !default;
$ae-utils-float: left right none !default;

/// Max Width
$u-max-width: 'mw' !default;
$ae-utils-max-width: (100%, full) none !default;

/// Text Align
$u-text-align: 'ta' !default;
$ae-utils-text-align: left right center justify !default;

/// Position
$u-position: 'pos' !default;
$ae-utils-position: absolute relative fixed static !default;

/// Visibility
$u-visibility: 'v' !default;
$ae-utils-visibility: hidden visible !default;

/// Verical align
$u-vertical-align: 'va' !default;
$ae-utils-vertical-align: baseline top middle bottom !default;

/// Margins
$ae-utils-margins: 0 (.5rem, 1) (1rem, 2) (2rem, 3) (4rem, 4) !default;
$u-margin:        'm' !default;
$u-margin-top:    'mt' !default;
$u-margin-right:  'mr' !default;
$u-margin-bottom: 'mb' !default;
$u-margin-left:   'ml' !default;

/// Paddings
$ae-utils-paddings: 0 (.5rem, 1) (1rem, 2) (2rem, 3) (4rem, 4) !default;
$u-padding:        'p' !default;
$u-padding-top:    'pt' !default;
$u-padding-right:  'pr' !default;
$u-padding-bottom: 'pb' !default;
$u-padding-left:   'pl' !default;
